.login {
    width: 100vw;
    height: 100vh;
}

.heading-login {
    text-align: center;
    font-style: italic;
}

#survey-login {
    padding: 30px 0px 0px 0px;
    font-size: 60px;
    font-style: italic;
}

.login-form {
    display: grid;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px 10px 30px;
}

#sign-heading-login {
    padding: 10px 0px 20px 0px; 
    font-size: 40px;
}

.input-here {
    height: 45px;
}

.input-login {
    width: 500px;
    justify-self: center;
}

.link {
    font-size: 15px;
    font-weight: bold;
}

@media only screen and (max-width: 510px) {
    .input-login {
        width: 400px;
    }
  }

  @media only screen and (max-width: 410px) {
    .input-login {
        width: 310px;
    }
  }

  @media only screen and (max-width: 310px) {   
    #survey-login {
        font-size: 50px;
    }
    .input-login {
        width: 250px;
    }
  }

  @media only screen and (max-width: 249px) {
    #survey-login {
        font-size: 40px;
    }
    .input-login {
        width: 200px;
    }
  }